textarea{
    resize: none !important;
}

hr{
    border: 1px solid black !important;
    opacity: 1!important;
}


.navbar-pink{
    background-color: pink !important;
   
}

.navbar-pink *{
         color: teal !important;
}